name: golangci-lint Pipeline

on:
        push:
                branches:
                        - main
        pull_request:

permissions:
        contents: read
        pull-requests: read
        security-events: write

jobs:
        golangci:
                name: lint
                runs-on: ubuntu-latest
                steps:
                        - uses: actions/checkout@v5
                        - uses: actions/setup-go@v6
                          with:
                                  go-version: stable
                        - name: golangci-lint
                          uses: golangci/golangci-lint-action@v8
                          with:
                                  version: v2.6.2

        security_scan:
                name: Security Scan
                runs-on: ubuntu-latest
                env:
                        GO111MODULE: on
                steps:
                        - name: Checkout Source
                          uses: actions/checkout@v3
                        - name: Run Gosec Security Scanner
                          uses: securego/gosec@master
                          with:
                                  args: ./...
